body {
  background-image: url("../assets/fundo_app.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1920px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__app {
  position: absolute;
  top: 81px;
  left: 390px;
  width: 396px;
  height: 232px;
  opacity: 1;
}

.container__game {
  position: absolute;
  top: 365px;
  left: 64px;
  width: 952px;
  height: 1325px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 52px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container__game > h1 {
  margin-top: 166px;
  width: 772px;
  height: 183px;
  text-align: center;
  font: normal normal;
  font-weight: 800;
  font-size: 80px;
  font-family: "Accord Alternate Regular";
  letter-spacing: 0px;
  color: #0052a4;
  opacity: 1;
}

.container__game > h2 {
  margin-top: 89px;
  width: 673px;
  height: 238px;
  text-align: center;
  letter-spacing: 0px;
  color: #0052a4;
  opacity: 1;
  text-align: center;
  font: normal normal normal;
  font-size: 50px;
  font-family: "Accord Alternate Regular";
}

.font__bold {
  font: normal normal bold;
  font-size: 50px;
  font-family: "Accord Alternate Bold";
}

.container__game > h3 {
  margin-top: 48px;
  width: 571px;
  height: 196px;
  text-align: center;
  letter-spacing: 0px;
  color: #0052a4;
  opacity: 1;
  font-style: italic;
  font-size: 40px;
  font-family: "Accord Alternate Regular";
}

.start__game__button {
  margin: 106px;
  width: 326px;
  height: 102px;
  width: 34.3%;
  height: 102px;
  background: #0052a4 0% 0% no-repeat padding-box;
  box-shadow: 0px 19px 48px #0052a438;
  border-radius: 22px;
  font-size: 50px;
  color: white;
  opacity: 1;
  font: normal normal bold;
  font-size: 50px;
  font-family: "Accord Alternate Bold";
  border-style: none;
}
