body {
  background-image: url("../assets/fundo_app.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1920px;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.logo__app {
  top: 664px;
  left: 193px;
  width: 859px;
  height: 533px;
  position: absolute;
  opacity: 1;
}

lottie-player {
  position: absolute;
  top: 1449px;
  left: 471px;
  width: 128px;
  height: 130px;
  opacity: 1;
}

h1 {
  position: absolute;
  top: 1585px;
  left: 475px;
  width: 130px;
  height: 59px;
  text-align: center;
  font: normal normal normal;
  font-size: 25px;
  font-family: "Accord Alternate Regular";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
